spring:
  cloud:
    config:
      enabled: false
  application:
    name: userService
  datasource:
    url: jdbc:mysql://localhost:3306/microstay_users?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: ''
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    # Flyway Configuration
  flyway:
    enabled: true
    baseline-on-migrate: true # Helps if you run it on a non-empty DB by mistake
    locations: classpath:db/migration # This is where we put the .sql files

server:
  port: 8081

# FIXED: Matching the structure expected by JwtUtils.java
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics # Don't use '*' in production!
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.security.web.FilterChainProxy: DEBUG