
server:
  port: 8082

spring:
  application:
    name: hotelService
  data:
    mongodb:
      uri: mongodb://localhost:27017/hotel_db

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true